# NetFlix Analysis

In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mlt
import seaborn as sns

In [62]:
n_file = pd.read_csv('mymoviedb.csv',lineterminator='\n')
n_file

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...
...,...,...,...,...,...,...,...,...,...
9822,1973-10-15,Badlands,A dramatization of the Starkweather-Fugate kil...,13.357,896,7.6,en,"Drama, Crime",https://image.tmdb.org/t/p/original/z81rBzHNgi...
9823,2020-10-01,Violent Delights,A female vampire falls in love with a man she ...,13.356,8,3.5,es,Horror,https://image.tmdb.org/t/p/original/4b6HY7rud6...
9824,2016-05-06,The Offering,When young and successful reporter Jamie finds...,13.355,94,5.0,en,"Mystery, Thriller, Horror",https://image.tmdb.org/t/p/original/h4uMM1wOhz...
9825,2021-03-31,The United States vs. Billie Holiday,Billie Holiday spent much of her career being ...,13.354,152,6.7,en,"Music, Drama, History",https://image.tmdb.org/t/p/original/vEzkxuE2sJ...
9826,1984-09-23,Threads,Documentary style account of a nuclear holocau...,13.354,186,7.8,en,"War, Drama, Science Fiction",https://image.tmdb.org/t/p/original/lBhU4U9Eeh...

In [63]:
n_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [64]:
n_file.duplicated().sum()

np.int64(0)

In [65]:
n_file.isnull().sum()

Release_Date         0
Title                0
Overview             0
Popularity           0
Vote_Count           0
Vote_Average         0
Original_Language    0
Genre                0
Poster_Url           0
dtype: int64

In [66]:
n_file.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

In [67]:
## change datetime object formate to date formate
n_file['Release_Date'] = pd.to_datetime(n_file['Release_Date'])
## remove the space in genre column betwwen categori

In [68]:
n_file['Genre'].head(4)

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
Name: Genre, dtype: object

In [69]:
n_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   datetime64[ns]
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 691.1+ KB

In [70]:
## remove the unwated Columns
col=['Overview','Original_Language','Poster_Url']
n_file.drop(col, axis=1, inplace=True, errors='ignore')

In [71]:
n_file.columns

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

## Add Magic in to Cloumn

In [72]:
condation=[
    n_file['Vote_Average'] > 8,
    (n_file['Vote_Average'] < 8) &(n_file['Vote_Average']>6),
    (n_file['Vote_Average'] < 6)&(n_file['Vote_Average'] > 4)
]
choice=['Awsome','Good','Not Bad']
n_file['Vote_Average']=np.select(condation,choice,default='Worst')

In [73]:
n_file['Vote_Average'].value_counts()

Vote_Average
Good       6481
Not Bad    2362
Worst       670
Awsome      314
Name: count, dtype: int64

In [74]:
# Split the gere of each element
n_file['Genre']=n_file['Genre'].str.split(',')
n_file=n_file.explode('Genre').reset_index(drop=True)

In [75]:
n_file.head(10)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021-12-15,Spider-Man: No Way Home,5083.954,8940,Awsome,Action
1,2021-12-15,Spider-Man: No Way Home,5083.954,8940,Awsome,Adventure
2,2021-12-15,Spider-Man: No Way Home,5083.954,8940,Awsome,Science Fiction
3,2022-03-01,The Batman,3827.658,1151,Awsome,Crime
4,2022-03-01,The Batman,3827.658,1151,Awsome,Mystery
5,2022-03-01,The Batman,3827.658,1151,Awsome,Thriller
6,2022-02-25,No Exit,2618.087,122,Good,Thriller
7,2021-11-24,Encanto,2402.201,5076,Good,Animation
8,2021-11-24,Encanto,2402.201,5076,Good,Comedy
9,2021-11-24,Encanto,2402.201,5076,Good,Family

In [ ]:
## to Know the categori
n_file = n_file.astype('category')
n_file.dtype

KeyError: 'Genre'