## Data Cleaning by Pandas

In [4]:
import numpy as np
import pandas as pd
import dates

# how to add Dates sequence

In [5]:
dates=pd.date_range('20260101',periods=6)
dates

DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03', '2026-01-04',
               '2026-01-05', '2026-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2026-01-01  0.431445 -0.220901 -0.173891 -0.227595
2026-01-02  0.540854  1.079286 -0.434317 -0.984422
2026-01-03  0.237349  0.799012  0.804134 -0.237617
2026-01-04  1.227611  1.292792 -0.413159  0.568907
2026-01-05  0.007085 -1.144187 -1.231545  0.463081
2026-01-06  0.166894 -1.211642 -0.031340  1.535035

| Object          | Use                    |
| --------------- | ---------------------- |
| `pd.Timestamp`  | One specific date/time |
| `pd.date_range` | Multiple dates         |
| `DatetimeIndex` | Index of dates         |

In [ ]:
print(df.sort_index)
print(df.sort_values(by='A'))

<bound method DataFrame.sort_index of                    A         B         C         D
2026-01-01  0.431445 -0.220901 -0.173891 -0.227595
2026-01-02  0.540854  1.079286 -0.434317 -0.984422
2026-01-03  0.237349  0.799012  0.804134 -0.237617
2026-01-04  1.227611  1.292792 -0.413159  0.568907
2026-01-05  0.007085 -1.144187 -1.231545  0.463081
2026-01-06  0.166894 -1.211642 -0.031340  1.535035>
<bound method DataFrame.sort_values of                    A         B         C         D
2026-01-01  0.431445 -0.220901 -0.173891 -0.227595
2026-01-02  0.540854  1.079286 -0.434317 -0.984422
2026-01-03  0.237349  0.799012  0.804134 -0.237617
2026-01-04  1.227611  1.292792 -0.413159  0.568907
2026-01-05  0.007085 -1.144187 -1.231545  0.463081
2026-01-06  0.166894 -1.211642 -0.031340  1.535035>

# Used reindex() function to reindex all rows and cloumn by new value

In [29]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
x=df1.iloc[0:2,0]=np.nan
df1

                   A         B         C         D   E
2026-01-01       NaN -0.220901 -0.173891 -0.227595 NaN
2026-01-02       NaN  1.079286 -0.434317 -0.984422 NaN
2026-01-03  0.237349  0.799012  0.804134 -0.237617 NaN
2026-01-04  1.227611  1.292792 -0.413159  0.568907 NaN

## handle missing values

In [13]:
df.dropna(how="any")

                   A         B         C         D
2026-01-01  0.431445 -0.220901 -0.173891 -0.227595
2026-01-02  0.540854  1.079286 -0.434317 -0.984422
2026-01-03  0.237349  0.799012  0.804134 -0.237617
2026-01-04  1.227611  1.292792 -0.413159  0.568907
2026-01-05  0.007085 -1.144187 -1.231545  0.463081
2026-01-06  0.166894 -1.211642 -0.031340  1.535035